/*   */
$colorText: #303330;
$colorLink: #0067C0;
$colorLinkSelected: #09599e;

$colorInput: $colorText;
$colorInputSelected: $colorText;
$colorInputBackground: #d0d4d1;
$colorInputBorder: #d0d4d1;
$colorInputBorderSelected: #0067C0;

$colorButtonBackground: #0067C0;
$colorButtonBackgroundSelected: #09599e;
$colorButtonText: white;

$colorNavBarBackground: #0067C0;