@import "/src/stylesConfig/variables";

.pageContent {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(45deg, rgb(201, 197, 197), white);
}

.card {
  background-color: white;
  box-shadow: 0 3px 12px rgb(0 0 0 / 0.2);
  padding: 10px 10%;
}

.logoArea {
  padding: 20px 30%;
  margin-top: 0px;
  display: flex;
  display: flex;
  justify-content: center;
}

.logo {
  width: 80px;
}

.title {
  text-align: center;
  color: rgb(46, 46, 46);
  margin-bottom: 30px;
}

.input {
  background: white;
  height: 45px;
  border: 1px solid $colorInputBorder;
  color: $colorInput;
  box-shadow: none !important;
}

.input:focus {
  color: $colorInputSelected;
  border: 1px solid $colorInputBorderSelected;
}

.button {
  background: $colorButtonBackground;
  color: $colorButtonText;
  height: 45px;
  width: 100%;
  box-shadow: none !important;
}

.button:hover {
  background: $colorButtonBackgroundSelected;
  color: white;
}

.text {
  text-align: center;
  color: rgb(46, 46, 46);
}

.textLink {
  color: $colorLink;
}

.textLink:hover {
  color: $colorLinkSelected;
  text-decoration:  underline;
}