.pageContent {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(45deg, rgb(201, 197, 197), white);
}

.authCard {
  background-color: white;
  box-shadow: 0 3px 12px rgb(0 0 0 / 0.2);
  padding: 10px 10%;
}

.logoArea {
  padding: 20px 30%;
  margin-top: 60px;
  display: flex;
  display: flex;
  justify-content: center;
}

.logo {
  width: 80px;
}

.authTitle {
  text-align: center;
  color: rgb(46, 46, 46);
}

.serviceBtn {
  background-color: white;
  border: 1px solid rgb(220, 220, 220);
  width: 100%;
  color: rgb(87, 83, 83);
  height: 45px;
  box-shadow: none !important;
}

.serviceBtn:hover {
  background-color: white;
  color: #1da19b;
  border: 1px solid #1da19b;
}
 
.serviceBtn > i {
  margin-right: 30px;
}

.authInput {
  background: white;
  height: 45px;
  border: 1px solid rgb(220, 220, 220);
  color: rgb(46, 46, 46);
  box-shadow: none !important;
}

.authInput:focus {
  color: #1da19b;
  border: 1px solid #1da19b;
}

.authBtn {
  background: #45a29a;
  color: white;
  height: 45px;
  width: 100%;
  box-shadow: none !important;
}

.authBtn:hover {
  background: #24726e;
  color: white;
}

.text {
  text-align: center;
  color: rgb(46, 46, 46);
}

.textLink {
  color: #45a29a;
}

.textLink:hover {
  color: #24726e;
}